MVCMuncheese/Connected Services/srvMuncheese/srvMuncheese1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49538/srvMuncheese.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="recClientes_ENT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recClientes_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recClientes_ENTResult" nillable="true" type="q1:ArrayOfClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recClientesXId_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recClientesXId_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recClientesXId_ENTResult" nillable="true" type="q2:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insClientes_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pClientes" nillable="true" type="q3:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insClientes_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insClientes_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modClientes_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pClientes" nillable="true" type="q4:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modClientes_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modClientes_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delClientes_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pClientes" nillable="true" type="q5:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delClientes_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delClientes_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recClienteResult" nillable="true" type="q6:ArrayOfrecCliente_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recClientexId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recClientexIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recClientexIdResult" nillable="true" type="q7:recClientexId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pClientes" nillable="true" type="q8:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pClientes" nillable="true" type="q9:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pClientes" nillable="true" type="q10:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recProveedores_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recProveedores_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recProveedores_PAResult" nillable="true" type="q11:ArrayOfrecProveedor_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recProveedoresXId_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recProveedoresXId_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recProveedoresXId_PAResult" nillable="true" type="q12:recProveedorxId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insProveedores_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pProveedores" nillable="true" type="q13:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insProveedores_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insProveedores_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modProveedores_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pProveedores" nillable="true" type="q14:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modProveedores_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modProveedores_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delProveedores_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pProveedores" nillable="true" type="q15:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delProveedores_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delProveedores_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recIngredientes_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recIngredientes_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recIngredientes_PAResult" nillable="true" type="q16:ArrayOfrecIngredientes_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recIngredientesXId_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recIngredientesXId_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recIngredientesXId_PAResult" nillable="true" type="q17:recIngredientexId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insIngredientes_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pIngredientes" nillable="true" type="q18:Ingredientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insIngredientes_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insIngredientes_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modIngredientes_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pIngredientes" nillable="true" type="q19:Ingredientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modIngredientes_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modIngredientes_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delIngredientes_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pIngredientes" nillable="true" type="q20:Ingredientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delIngredientes_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delIngredientes_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recProductos_ENT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recProductos_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recProductos_ENTResult" nillable="true" type="q21:ArrayOfProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recProductosXId_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recProductosXId_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recProductosXId_ENTResult" nillable="true" type="q22:Productos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insProductos_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pProductos" nillable="true" type="q23:Productos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insProductos_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insProductos_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modProductos_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pProductos" nillable="true" type="q24:Productos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modProductos_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modProductos_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delProductos_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pProductos" nillable="true" type="q25:Productos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delProductos_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delProductos_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recTipo_Producto_ENT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recTipo_Producto_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recTipo_Producto_ENTResult" nillable="true" type="q26:ArrayOfTipo_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recTipo_ProductoXId_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recTipo_ProductoXId_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recTipo_ProductoXId_ENTResult" nillable="true" type="q27:Tipo_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insTipo_Producto_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pTipo_Producto" nillable="true" type="q28:Tipo_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insTipo_Producto_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insTipo_Producto_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modTipo_Producto_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pTipo_Producto" nillable="true" type="q29:Tipo_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modTipo_Producto_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modTipo_Producto_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delTipo_Producto_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pTipo_Producto" nillable="true" type="q30:Tipo_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delTipo_Producto_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delTipo_Producto_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recTipo_Producto_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recTipo_Producto_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recTipo_Producto_PAResult" nillable="true" type="q31:ArrayOfrecTipo_Producto_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recTipo_ProductoXId_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recTipo_ProductoXId_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recTipo_ProductoXId_PAResult" nillable="true" type="q32:recTipo_ProductoxId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insTipo_Producto_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pTipo_Producto" nillable="true" type="q33:Tipo_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insTipo_Producto_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insTipo_Producto_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modTipo_Producto_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pTipo_Producto" nillable="true" type="q34:Tipo_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modTipo_Producto_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modTipo_Producto_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delTipo_Producto_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pTipo_Producto" nillable="true" type="q35:Tipo_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delTipo_Producto_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delTipo_Producto_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recIngredienteXProducto_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recIngredienteXProducto_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recIngredienteXProducto_PAResult" nillable="true" type="q36:ArrayOfrecIngredientesXProducto_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recIngredienteXProductoXId_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recIngredienteXProductoXId_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recIngredienteXProductoXId_PAResult" nillable="true" type="q37:recIngredienteXProductoxId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insIngredienteXProducto_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pIngredienteXProducto" nillable="true" type="q38:Ingredientes_X_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insIngredienteXProducto_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insIngredienteXProducto_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modIngredienteXProducto_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pIngredienteXProducto" nillable="true" type="q39:Ingredientes_X_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modIngredienteXProducto_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modIngredienteXProducto_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delIngredienteXProducto_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pIngredienteXProducto" nillable="true" type="q40:Ingredientes_X_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delIngredienteXProducto_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delIngredienteXProducto_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recEstado_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recEstado_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recEstado_PAResult" nillable="true" type="q41:ArrayOfrecEstados_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recEstadoXId_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recEstadoXId_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recEstadoXId_PAResult" nillable="true" type="q42:recEstadoxId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insEstado_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pEstado" nillable="true" type="q43:Estado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insEstado_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insEstado_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modEstado_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pEstado" nillable="true" type="q44:Estado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modEstado_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modEstado_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEstado_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pEstado" nillable="true" type="q45:Estado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEstado_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delEstado_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recMesas_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recMesas_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recMesas_PAResult" nillable="true" type="q46:ArrayOfrecMesas_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recMesaXId_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recMesaXId_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recMesaXId_PAResult" nillable="true" type="q47:recMesaxId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insMesas_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMesas" nillable="true" type="q48:Mesas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insMesas_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insMesas_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modMesas_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMesas" nillable="true" type="q49:Mesas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modMesas_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modMesas_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delMesas_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMesas" nillable="true" type="q50:Mesas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delMesas_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delMesas_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recOrdenes_ENT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recOrdenes_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recOrdenes_ENTResult" nillable="true" type="q51:ArrayOfOrdenes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recOrdenesXId_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recOrdenesXId_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recOrdenesXId_ENTResult" nillable="true" type="q52:Ordenes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insOrdenes_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pOrdenes" nillable="true" type="q53:Ordenes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insOrdenes_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insOrdenes_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modOrdenes_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pOrdenes" nillable="true" type="q54:Ordenes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modOrdenes_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modOrdenes_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delOrdenes_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pOrdenes" nillable="true" type="q55:Ordenes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delOrdenes_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delOrdenes_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recPerfiles_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recPerfiles_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recPerfiles_PAResult" nillable="true" type="q56:ArrayOfrecPerfiles_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recPerfilesXId_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recPerfilesXId_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recPerfilesXId_PAResult" nillable="true" type="q57:recMesaPerfilxId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insPerfiles_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pPerfiles" nillable="true" type="q58:Perfiles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insPerfiles_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insPerfiles_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modPerfiles_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pPerfiles" nillable="true" type="q59:Perfiles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modPerfiles_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modPerfiles_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delPerfiles_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pPerfiles" nillable="true" type="q60:Perfiles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delPerfiles_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delPerfiles_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recUsuarios_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recUsuarios_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recUsuarios_PAResult" nillable="true" type="q61:ArrayOfrecUsuarios_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recUsuariosXId_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recUsuariosXId_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recUsuariosXId_PAResult" nillable="true" type="q62:recUsuarioxId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insUsuarios_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pUsuarios" nillable="true" type="q63:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insUsuarios_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insUsuarios_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modUsuarios_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pUsuarios" nillable="true" type="q64:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modUsuarios_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modUsuarios_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delUsuarios_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pUsuarios" nillable="true" type="q65:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delUsuarios_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delUsuarios_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recPerfilUsuario_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recPerfilUsuario_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recPerfilUsuario_PAResult" nillable="true" type="q66:ArrayOfrecPerfilUsuario_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recPerfilUsuarioXId_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recPerfilUsuarioXId_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recPerfilUsuarioXId_PAResult" nillable="true" type="q67:recPerfilUsuarioxId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insPerfilUsuario_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pPerfilUsuario" nillable="true" type="q68:PerfilUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insPerfilUsuario_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insPerfilUsuario_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modPerfilUsuario_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pPerfilUsuario" nillable="true" type="q69:PerfilUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modPerfilUsuario_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modPerfilUsuario_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delPerfilUsuario_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pPerfilUsuario" nillable="true" type="q70:PerfilUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delPerfilUsuario_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delPerfilUsuario_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recInventario_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recInventario_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recInventario_PAResult" nillable="true" type="q71:ArrayOfrecInventario_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recInventarioXId_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recInventarioXId_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recInventarioXId_PAResult" nillable="true" type="q72:recInventarioxId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insInventario_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pInventario" nillable="true" type="q73:Inventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insInventario_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insInventario_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modInventario_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pInventario" nillable="true" type="q74:Inventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modInventario_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modInventario_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delInventario_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pInventario" nillable="true" type="q75:Inventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delInventario_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delInventario_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recFacturas_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recFacturas_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recFacturas_PAResult" nillable="true" type="q76:ArrayOfrecFacturas_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recFacturasXId_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recFacturasXId_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recFacturasXId_PAResult" nillable="true" type="q77:recFacturaxId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insFacturas_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pFacturas" nillable="true" type="q78:Facturas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insFacturas_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insFacturas_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modFacturas_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pFacturas" nillable="true" type="q79:Facturas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modFacturas_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modFacturas_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delFacturas_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pFacturas" nillable="true" type="q80:Facturas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delFacturas_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delFacturas_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUsrLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recUsuarioResult" nillable="true" type="q81:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>